- if flash[:notice]
	.success= flash[:notice]

#wedding
	#couple
		%label= @wedding.first_partner+" & "+@wedding.second_partner

	#date
		%label= @wedding.wedding_date.strftime("%A %B %d, %Y at %I:%M %p")

.weddingbody
	.events
		.title#weddingtitle
			%h2 Events
		.event
			.date
				#wday Wednesday
				#nday 25
				#year1 1
				#year2 9
				#year3 9
				#year4 4
				#month September
			.content Revisar flores con el señor jesusillo
			
		.event
			.date
				#wday Wednesday
				#nday 25
				#year1 1
				#year2 9
				#year3 9
				#year4 4
				#month September
			.content Revisar flores con el señor jesusillo
		.event
			.date
				#wday Wednesday
				#nday 25
				#year1 1
				#year2 9
				#year3 9
				#year4 4
				#month September
			.content Revisar flores con el señor jesusillo
		.event
			.date
				#wday Wednesday
				#nday 25
				#year1 1
				#year2 9
				#year3 9
				#year4 4
				#month September
			.content Revisar flores con el señor jesusillo
		.event
			.date
				#wday Wednesday
				#nday 25
				#year1 1
				#year2 9
				#year3 9
				#year4 4
				#month September
			.content Revisar flores con el señor jesusillo
