- if flash[:notice]
	.success= flash[:notice]

#wedding
	#couple
		%label= @wedding.first_partner+" & "+@wedding.second_partner

	#date
		%label= @wedding.wedding_date.strftime("%A %B %d, %Y at %I:%M %p")

.weddingbody
	.events
		.title#weddingtitle
			%h2 Events
		.event
			.date
				#wday Saturday
				#nday 25
				#year1 1
				#year2 2
				#year3 0
				#year4 1
				#month September
			.content Revisar flores con el señor jesusillo
			
		.event
			.date
				#wday Wednesday
				#nday 19
				#year1 1
				#year2 9
				#year3 9
				#year4 4
				#month January
			.content Revisar flores con el señor jesusillo
		.event
			.date
				#wday Monday
				#nday 30
				#year1 1
				#year2 7
				#year3 6
				#year4 4
				#month August
			.content Revisar flores con el señor jesusillo
		.event
			.date
				#wday Sunday
				#nday 1
				#year1 1
				#year2 3
				#year3 9
				#year4 5
				#month June
			.content Revisar flores con el señor jesusillo
		.event
			.date
				#wday Friday
				#nday 11
				#year1 2
				#year2 9
				#year3 0
				#year4 4
				#month April
			.content Revisar flores con el señor jesusillo

	.buttons
		%button To do
		%button Guests
		%button To do
		%button To do
		%button To do
		%button To do
		%button To do
		%button To do
		%button To do
