// Place all the styles related to the weddings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wedding {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: pink;
	width: 40%;
	margin: auto;
	padding: 10px;
}

#couple {
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 550%;
	font-style: italic;
}

#date {
	color: gray;
	text-align: center;
	text-transform: capitalize;
	font-size: 150%;
	font-style: italic;
}